.ll1{
	color: rgb(126, 241, 126);
	font: normal 20px  , normal;
    margin:0;
    margin-left: 0px;
    padding-left: 0%;
    letter-spacing: 0.5px;
}

.ll2{
    color:  #5383d3;
    font: normal 20px , normal;

    padding-left: 0%;
    letter-spacing: 0.5px;
}

