
#form_container
{
	background-image: url("../images/full-image.jpg");
	background-size:100% 100%;
	padding:15px 15px;
	margin-top:15px;
}
body
{
	background-color:whitesmoke;
}
#form_container input[type='text'],
#form_container input[type='email'],
#form_container textarea
{
	background: rgba(255,255,255,0.2);	
}

